// ----------------------------------------------------------------------------------------------
// NOTE Browser style : Reset --------------------------------------------------------- Overwrite
// ----------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// NOTE Project ---------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------
@import './mixins.scss';

html, 
body { 
  margin: 0;
  background-color: var(--bkg-1);
  font-family: 'Roboto', "Helvetica Neue", sans-serif; 
}

.g-padx { 
  padding-left: 10%;
  padding-right: 10%;
}

.loader {
  width: 1rem; 
  height: 1rem; 
  margin-right: 0.4rem;
}

.small-field {
  font-size: 12px;
  --mat-form-field-container-height: 32px;
  --mat-form-field-container-vertical-padding: 0px;
}

.page-wrap {
    width: 100%;
    height: auto;
    overflow: hidden;

    .sec-hdr {
        letter-spacing: 0.05rem;

        &.lg {
            font-size: 1.7rem;
            font-weight: 700;
            line-height: 1;
            color: var(--primary);
            text-align: center;

            @include screen-media-min(md) {
                font-size: 2.7rem;
                text-align: left;
            }
        }

        &.md {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: rgba(0, 0, 0, 0.9);
            text-align: center;

            @include screen-media-min(md) {
                font-size: 2rem;
                text-align: left;
            }
        }

        &.xs {
            width: fit-content;
            display: inline-flex;
            font-size: 0.65rem;
            font-weight: 500;
            letter-spacing: 0.07rem;
            line-height: 1;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            border: 1px solid rgba(#d09823, 0.3);
            background: rgba(#d09823, 0.3);

            &.bkg-full {
                background: var(--primary);
                color: white;
            }

            &.bkg-mild {
                background: rgba(#d09823, 0.4);
                color: white;
            }
        }
    }

    .sec-text {
        font-size: 1rem;
        font-size: 400;
        line-height: 1.6;
        letter-spacing: 0.03rem;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;

        @include screen-media-min(md) {
            text-align: left;
        }
    }
}

header.main {
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;

    @include screen-media-min(md) {
        padding: 1.5rem 10%;
    }

    .logo-cont {
        width: auto;
        height: auto;

        img {
            width: auto;
            height: 4rem;

            @include screen-media-min(md) {
                height: 5rem;
            }
        }
    }

    nav {
        display: none;

        @include screen-media-min(md) {
            display: block;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 2rem;

            li {
                display: inline-block;
                list-style: none;
                
                a {
                    font-size: 1rem;
                    font-weight: 300;
                    //text-transform: uppercase;
                    letter-spacing: 0.07rem;
                    text-decoration: none;
                    color: rgba(#fff, 1);
                    position: relative;

                    &:hover {

                        &:after {
                            width: 100%;
                        }
                    }

                    &::after {
                        content: '';
                        width: 0%;
                        height: 1px;
                        background: white;
                        position: absolute;
                        transition: all 0.6s ease-in-out;
                        transform-origin: right;
                        left: 0;
                        bottom: -0.4rem;
                    }
                }
            }
        }
    }

    .header-ctas {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        @include screen-media-min(md) {
            gap: 1rem;
        }

        button {
            font-size: 1rem;
            letter-spacing: 0.05rem;
            padding: 0.5rem 1.2rem;
            border-radius: 2rem;
            background: var(--primary);
            border: none;
            color: white;
        }

        .user {
            display: flex;
            align-items: center;
            border-radius: 2rem;
            padding: 0.1rem;
            background-color: white;
            cursor: pointer;
            gap: 0.4rem;

            @include screen-media-min(md) {
                padding: 0.1rem 1rem 0.1rem 0.3rem;
            }

            .image {
                width: 2rem;
                height: 2rem;
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: white;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                color: var(--primary);
            }
            span {
                display: none;
                font-size: 1rem;
                font-weight: 400;
                color: var(--primary);
                letter-spacing: 0.05rem;

                @include screen-media-min(md) {
                    display: block;
                }
            }
            .arrow {
                font-size: 0.7rem;
                margin-left: 0.2rem;
            }
        }
    }
}

.spinner-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  z-index: 200000;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-wrap {
  margin-top: 1.5rem;
  padding: 0 0 2vh 0;
  //border-top: 1px solid #F6F6F6;

  .form-hld {
    width: 100%;
    height: auto;

    .section:nth-child(n+2) {
      margin-top: 3vh;
      padding: 3vh 0 0;
      border-top: 1px solid #F6F6F6;
    }
  }

  .form-hld:-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .form-hld::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
    background-color: #F5F5F5;
  }

  .form-hld::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #eaeaea;
  }
}


// NOTE Link

// NOTE Scrollbar

// NOTE Sortable table --------------------------------------------------------------------------

// NOTE Icons -----------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// NOTE Bootstrap --------------------------------------------------------------------- Overwrite
// ----------------------------------------------------------------------------------------------

// NOTE Pagination ------------------------------------------------------------------------------

// NOTE Button ----------------------------------------------------------------------------------

// NOTE Modal -----------------------------------------------------------------------------------
.modal-wrap {
  width: 100%;
  
  .modal-hdr {
    position: relative;
    .main {
      margin: 0.5rem;
      padding: 0.4rem 0.7rem;
      background: var(--bkg-2);
      border-radius: 0.3rem;

      h2 {
        font-size: 0.9rem;
        letter-spacing: 0.04rem;
        color: rgba(0, 0, 0, 0.7);
        margin: 0;
      }

      .close {
        font-size: 1.3rem;
        position: absolute;
        color: var(--warning);
        right: 1.2rem;
        top: 0.6rem;
      }
    }

    .preamble {

    }
  }

  .modal-body {
    padding: 1rem;
  }

  .modal-ft {
    width: 100%;
    padding: 1rem;
  }
}

// NOTE Toast -----------------------------------------------------------------------------------

.toast-header {
  background-color: transparent;
}
.toast-body {
  background-color: rgba(255, 255, 255, 0.85);
}

footer, .footer {
    width: 100%;
    margin: 2rem auto 2rem;
    text-align: center;

    .copyright {
        font-size: 0.75rem;
        letter-spacing: 0.05rem;
        color: rgba(0, 0, 0, 0.7);

        @include screen-media-min(md) {
            font-size: 0.85rem;
        }
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0.5rem;
        gap: 0.5rem;

        .label {
            font-weight: 500;
            display: none;
            letter-spacing: 0.05rem;

            @include screen-media-min(md) {
                display: block;
            }
        }

        .value {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.7rem;
        }

        a {
            font-size: 0.75rem;
            text-decoration: underline;
            color: var(--primary);

            @include screen-media-min(md) {
                font-size: 0.85rem;
            }
        }
    }

}
// NOTE Nav -------------------------------------------------------------------------------------

// NOTE Table -----------------------------------------------------------------------------------

// NOTE Select ----------------------------------------------------------------------------------

// NOTE Form ------------------------------------------------------------------------------------

// Checkbox

// Radio

// NOTE Sortable table --------------------------------------------------------------------------
.admin-heading {
    h1 {
        font-size: 1.7rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        margin: 0;
    }
}

.dashboard-stats {
  .stats-wrap {
      display: flex;
      justify-content: space-between;

      .stats-card {
          width: 24%;
          height: 8.5rem;
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1.3rem 1.2rem;
          border-radius: 0.3rem;
          background-color: white;
          box-shadow: 0 16px 43px rgba(0,0,0,.06);

          &:first-child {

              .icon {
                  background-color: rgba(44, 144, 255, 0.11);
                  color: rgba(44, 144, 255, 1);
              }
          }

          &:nth-child(2) {

              .icon {

                  background-color: rgba(20, 171, 89, 0.15);
                  color: rgba(20, 171, 89, 1);
              }
              
          }

          &:nth-child(3) {

              .icon {

                  background-color: rgba(40, 71, 59, 0.15);
                  color: rgba(40, 71, 59, 1);
              }
              
          }

          &:last-child {

              .icon {
                  background-color: rgba(255, 107, 0, 0.42);
                  color: rgba(255, 107, 0, 1);
              }
          }

          .icon {
              font-size: 1.3rem;
              width: 2.6rem;
              height: 2.6rem;
              border-radius: 50%;
              display: inline-flex;
              align-items: center;
              justify-content: center;
          }

          .info {
              width: 100%;
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              margin-top: 0.5rem;

              .card-hld {

                  &:first-child {
                      font-size: 1.4rem;
                      font-weight: 700;
                  }

                  &:last-child {
                      font-size: 1rem;
                      font-weight: 500;
                      //width: 40%;
                      text-align: right;
                      color: rgba(0,0,0,0.7);
                  }
              }
          }

      }
  }
}