// ----------------------------------------------------------------------------------------------
// SECTION Variables ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// NOTE Project ---------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// NOTE Colors ----------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// NOTE Bootstrap -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// NOTE Utilities -------------------------------------------------------------------------------

$utilities: (
  "cursor": (
    property: cursor,
    class: cursor,
    responsive: false,
    values: pointer,
  )
);

// NOTE Color system ----------------------------------------------------------------------------

:root {
  --primary: #d09823;
  --secondary: #38427D;
  --tertiary: #CE7D66;

  //--bkg-1: #fcf0e2;
  --bkg-1: #F5F5F5;
  --bkg-2: #fcf0e2;
  --bkg-3: #ECF0F4;

  --dark-1: #130F26;

  --border-1: #DEDEDE;
  --border-2: #EFF0F6;
  --border-3: #D0D5DD;
  --border-4: #EAECF0;
  --border-5: #D9DBE9;

  --warning: #eb5757;
  --warning-light: rgba(235, 87, 87, 0.25);
  --warning-lightest: rgba(235, 87, 87, 0.1);
  --pending: #e5a647;
  --pending-light: rgba(229, 166, 71, 0.25);
  --pending-lightest: rgba(229, 166, 71, 0.1);
  --approved: #36ab68;
  --approved-light: rgba(54, 171, 104, 0.25);
  --approved-lightest: rgba(54, 171, 104, 0.1);
  --considered: rgb(255,132,0);
  --considered-light: rgba(235, 87, 87, 0.25);
  --adobe: #ed2224;
  --doc: #00a4ef;
  // --overlay-light: #62ADFF;
  --overlay-light: #66bcff;

  //BORDER RADIUS
  --radius-xs: 4px;
  --radius-sm: 5px;
  --radius-md: 6px;
  --radius-mmd: 12px;
  --radius-lg: 15px;
  --radius-xl: 18px;
  --radius-xxl: 22px;

  --card-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

$primary: #d09823;
$secondary: #8492A6;
$text-muted: #ACA7AA;
$info: #375F9B; // #3C78DA;
$danger: #D0021B;
$success: #12a366;
$approved: #36ab68;
$decline: #eb5757;
$pending: #e5a647;
$min-contrast-ratio: 2.5;

// NOTE Body ------------------------------------------------------------------------------------

// NOTE Grid ------------------------------------------------------------------------------------

// NOTE Borders ---------------------------------------------------------------------------------

// NOTE Typography  -----------------------------------------------------------------------------

// NOTE Links -----------------------------------------------------------------------------------
// NOTE Badges ----------------------------------------------------------------------------------
// NOTE Buttons ---------------------------------------------------------------------------------

$btn-close-color: white;

// NOTE Navbar ----------------------------------------------------------------------------------
// NOTE Navs ------------------------------------------------------------------------------------

// NOTE Modal -----------------------------------------------------------------------------------

// NOTE Dropdowns -------------------------------------------------------------------------------
// NOTE Cards -----------------------------------------------------------------------------------

// NOTE List group ------------------------------------------------------------------------------
// NOTE Pagination ------------------------------------------------------------------------------
// NOTE Popovers --------------------------------------------------------------------------------
// NOTE Typography ------------------------------------------------------------------------------
// NOTE Forms -----------------------------------------------------------------------------------

// NOTE Tables ----------------------------------------------------------------------------------

// !SECTION Variables

//Responsive Breakpoints
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
