<footer>
    <div class="copyright">© Edo Talent hunt 2025. Let your light shine.</div>
    <div class="contact">
        <div class="label">Email :</div>
        <div class="value">
            <a [href]="'mailto:' + contactDetails.email[0]">{{contactDetails.email[0]}}</a>
        </div>
    </div>
    <div class="contact">
        <div class="label">Phone :</div>
        <div class="value">
            <a *ngFor="let phone of contactDetails.phone" [href]="'tel:'+phone">{{phone}}</a>
        </div>
    </div>
</footer>
