<footer>
    <div class="copyright">© Edo Talent hunt 2025. Let your light shine.</div>
    <div class="contact">
        <div class="label">Email :</div>
        <div class="value">
            <a href="mailto:edotalenthunt@gmail.com">edotalenthunt@gmail.com</a>
        </div>
    </div>
    <div class="contact">
        <div class="label">Phone :</div>
        <div class="value">
            <a href="tel:08148454621">08148454621</a>
            <a href="tel:08152638185">08152638185</a>
            <a href="tel:07051653832">07051653832</a>
            <a href="tel:09033198807">09033198807</a>
        </div>
    </div>
</footer>
