@import '../../../assets/scss/mixins.scss';


main {

    .pad-x {
        padding-left: 5%;
        padding-right: 5%;

        @include screen-media-min(md) {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    section {

        &.hero {
            width: 100%;
            height: 35rem;
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            position: relative;

            @include screen-media-min(md) {
                height: 90vh;
            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                left: 0;
                top: 0;
            }

            .caption-wrap {
                width: 90%;
                position: absolute;
                transform: translate(-50%, -50%);
                text-align: center;
                top: 50%;
                left: 50%;

                @include screen-media-min(md) {
                    width: 45%;
                }

                h1 {
                    font-size: 1.7rem;
                    font-weight: 600;
                    letter-spacing: 0.05rem;
                    white-space: nowrap;
                    color: white;

                    @include screen-media-min(md) {
                        font-size: 2.8rem;
                    }
                }

                .sec-text {
                    font-size: 0.85rem;
                    font-weight: 300;
                    line-height: 1.5;
                    letter-spacing: 0.05rem;
                    color: rgba(#fff, 0.9);
                    text-align: center;

                    @include screen-media-min(md) {
                        font-size: 1.1rem;
                    }
                }

                button {
                    width: 100%;

                    @include screen-media-min(md) {
                        width: fit-content;
                    }
                }
            }
        }

        &.about {
            position: relative;            

            .sec-img {
                position: relative;
                z-index: 4;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &.partners {
            position: relative;
            margin-bottom: 5rem;

            &:before {
                content: '';
                width: 100%;
                height: 5rem;
                background-color: var(--bkg-1);
                border-radius: 3rem 3rem 0 0;
                position: absolute;
                left: 0;
                top: -5rem;
                z-index: 3;

                @include screen-media-min(md) {
                    height: 8rem;
                    border-radius: 5rem 5rem 0 0;
                }
            }

            .partner-container {
                width: 100%;
                overflow: hidden;
                position: relative;
                z-index: 4;

                .partner-wrap {
                    width: fit-content;
                    display: flex;
                    overflow-x: scroll;
                    align-items: center;
                    justify-content: space-between;
                    animation: scrollAnimation 40s infinite linear;
                    white-space: nowrap;

                    ::-webkit-scrollbar {
                        display: none;
                    }

                    &:hover {
                        animation-play-state: paused;
                    }

                    .partner-hld {
                        width: 35vw;
                        display: inline-flex;
                        justify-content: center;

                        @include screen-media-min(md) {
                            width: 20vw;
                        }

                        &:hover {
                            a {
                                img {
                                    filter: grayscale(0);
                                }
                            }
                        }

                        a {
                            width: auto;

                            img {
                                width: auto;
                                height: 4rem;
                                //filter: grayscale(1);

                                @include screen-media-min(md) {
                                    height: 5.5rem;
                                }

                                &.sm {
                                    height: 1.5rem;

                                    @include screen-media-min(md) {
                                        height: 2.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.auditions {
            margin: 4rem 0 2rem;
            position: relative;

            @include screen-media-min(md) {
                margin: 6rem 0 2rem;
            }

            .bkg-img {
                width: 50%;
                height: 40rem;
                display: none;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                filter: grayscale(100%);
                opacity: 0.3;
                position: absolute;
                left: -2rem;
                bottom: 0;
            }

            .audition-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;

                @include screen-media-min(md) {
                    flex-direction: row;
                }

                .card-hld {
                    width: 100%;
                    height: 30rem;
                    overflow: hidden;
                    position: relative;
                    border-radius: 0.5rem;
                    //border: 1px solid rgba(#000, 0.07);
                    box-shadow: 0 16px 43px rgba(0,0,0,.06);

                    @include screen-media-min(md) {
                        width: 40%;
                        height: 36rem;
                    }

                    &:first-child {
                        background: #dcdcdc;

                        img { 
                            width: 20rem;
                            bottom: 0;
                            left: 0;

                            @include screen-media-min(md) {
                                width: unset;
                            }
                        }
                    }

                    &:last-child {

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: bottom;
                            bottom: 0;
                            left: 0;
                        }
                    }

                    img {
                        position: absolute;
                    }

                    .details {
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                        z-index: 2;

                        .info-text {
                            font-size: 1.2rem;
                            font-weight: 600;
                            line-height: 1.4;
                            padding-left: 0.3rem;
                            letter-spacing: 0.05rem;
                            margin-top: 1rem;

                            @include screen-media-min(md) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }

        &.talents {

            .talent-info {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1rem 0;

                @include screen-media-min(md) {
                    gap: unset;
                }

                .card-hld {
                    width: 100%;
                    height: 15rem;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 0.5rem;
                    position: relative;
                    overflow: hidden;

                    @include screen-media-min(md) {
                        width: 24%;
                        height: 23rem;
                    }

                    .overlay {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background: rgba(0, 0, 0, 0.4);
                        left: 0;
                        top: 0;
                        z-index: 2;
                    }

                    .hdr {
                        width: 100%;
                        height: 100%;
                        padding: 1rem;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        z-index: 2;
                        top: 0;
                        left: 0;
                        gap: 0.7rem;

                        .title {
                            font-size: 1rem;
                            font-weight: 500;
                            margin-bottom: 0.6rem;
                            color: rgba(#fff, 0.8);
                            letter-spacing: 0.05rem;
                            padding-left: 0.3rem;
                        }

                        .sec-hdr {
                            @include screen-media-max(md) {
                                font-size: 0.65rem;
                                //padding: 0.2rem 0.2rem;
                            }
                        }
                    }
                }
            }
        }

        &.diy-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(#d09823, 0.3);
            padding: 3rem 0;
            margin: 3rem 0;

            @include screen-media-min(md) {
                padding: 5rem 0;
                margin: 5rem 0;
                flex-direction: row;
            }

            .video-wrap {
                width: 70%;
                height: 30rem;
                overflow: hidden;
                background: transparent;

                @include screen-media-min(md) {
                    width: 40%;
                    height: 35rem;
                }

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                    background: transparent;
                }
            }

            .video-steps {
                margin-top: 3rem;

                @include screen-media-min(md) {
                    margin-top: 0;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: 1.5rem;
                    padding: 0;

                    li {
                        list-style: none;
                        display: inline-flex;
                        align-items: center;
                        gap: 1.5rem;

                        span {

                            &:first-child {
                                width: 2rem;
                                height: 2rem;
                                font-weight: 500;
                                color: var(--primary);
                                border-radius: 50%;
                                display: inline-flex;
                                justify-content: center;
                                border: 1px solid var(--bkg-1);
                                box-shadow: 0 16px 43px rgba(0,0,0,.06);
                                background: white;
                                align-items: center;
                            }

                            &:last-child {
                                font-size: 0.85rem;
                                font-weight: 500;
                                letter-spacing: 0.05rem;
                                line-height: 1;

                                @include screen-media-min(md) {
                                    font-size: 1.1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.strip-section {
            width: 90%;
            height: 20rem;
            margin: 3rem auto;
            position: relative;
            border-radius: 1rem;
            overflow: hidden;

            @include screen-media-min(md) {
                width: 80%;
                height: 25rem;
                margin: 5rem auto;
            }

            .image {
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                left: 0;
                top: 0;
            }

            .info {
                position: absolute;
                transform: translateY(-50%);
                right: 5%;
                top: 50%;

                @include screen-media-min(md) {
                    width: fit-content;
                    top: 50%;
                }

                button {
                    width: 100%;

                    @include screen-media-min(md) {
                        width: fit-content;
                    }
                }
            }
        }

        &.footer-logo {
            text-align: center;

            img {
                width: auto;
                height: 5rem;
            }
        }
    }
}

@keyframes scrollAnimation {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}