@import '../../../../assets/scss/mixins.scss';

.wrapper {
  max-width: 350px;
  width: 100%;
}

.page-wrap {
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: hidden;

  .back-btn {
    display: inline-flex;
    position: absolute;
    background: transparent;
    border-radius: 0.3rem;
    border: 1px solid var(--border-1);
    padding: 0.2rem 0.8rem;
    top: 1rem;
    left: 5%;
    font-size: 0.785rem;
    font-weight: 700;
    gap: 0.4rem;

    @include screen-media-min(md) {
      top: 2rem;
      font-size: 1rem;
      padding: 0.4rem 1rem;
    }

    i {
      font-weight: 700;
    }
  }
}

.pg-hdr {
  margin-top: 5rem;

  h1 {
    color: rgba(0, 0, 0, 1);
  }

  .logo {
    width: auto;
    height: 7rem;

    @include screen-media-min(md) {
      height: 12rem;
    }
  }
}

.pg-body {
  width: 100%;
  position: relative;
  z-index: 3;

  .auth-actions {
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    color: rgba(0, 0, 0, 0.7);

    @include screen-media-min(md) {
      font-size: 0.85rem;
    }
  }
}

.notice {
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.03rem;
  padding: 0.5rem 1rem;
  background: rgba(#eb5757, 1);
  border-radius: 0.35rem;
  border: 1px solid rgba(#eb5757, 0.7);
  //text-align: center;
  color: white;
}

.pg-footer {
  width: 100%;
  height: 18rem;
  filter: grayscale(100%);
  opacity: 0.3;
  position: absolute;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
}

.form-group {
  max-width: 40rem;
  margin-top: 2rem;

  .field-group {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    gap: 1rem;

    @include screen-media-min(md) {
      font-size: 1rem;
    }

    .field {
      position: relative;

      .eyePass {
        top: 1rem;
        left: 92%;
        cursor: pointer;
        position: absolute;
        color: var(--text-dark-3);
        z-index: 4;
      }
    }
  }

  .field-group .field {
    flex: 1 1 100%;
  }

  .field-group .field.w-48 {
    flex: 1 1 48%;
  }
}

