<!-- <app-donut-progress [value]="65"></app-donut-progress>
<app-donut-progress [value]="25" size="50px" thickness="8px" color="#F39C12"></app-donut-progress>
<app-donut-progress [value]="85" size="150px" thickness="20px" color="#27AE60"></app-donut-progress> -->

<div *ngIf="!savedRegData" class="page-loading">
    <div class="spinner-wrap">
        <span class="loader spinner-border text-white"></span>
    </div>
</div>

<div *ngIf="savedRegData" class="page-wrap">
    <div class="page-hdr">
        <div class="title">
            <h5 *ngIf="currentStep > 0 && this.stepInView?.stepName !== 'Success'">Step {{currentStep}} of {{formSteps.length - 2}}</h5>
            <h2>{{stepInView?.stepName}}</h2>
            <p *ngIf="stepInView?.description">{{stepInView?.description}}</p>
        </div>
        <div *ngIf="currentStep > 0" class="progress-wrap">
            <app-donut-progress [value]="this.stepInView?.stepName === 'Success' ? 100 : formProgess" size="60px" thickness="8px" color="#27AE60"></app-donut-progress>
        </div>
    </div>
    <div class="page-body">
        <div class="form-steps">

            <div *ngIf="currentStep == 0" class="reg-type">
                <div class="type">
                    <button (click)="setRegType(1)" [class.active]="regType == 1">
                        <i class="bi bi-person-fill"></i> 
                        <span>Individual</span>
                    </button>
                </div>

                <div class="type">
                    <button (click)="setRegType(2)" [class.active]="regType == 2">
                        <i class="bi bi-people-fill"></i> 
                        <span>Group</span>
                    </button>
                </div>
                
            </div>

            <app-personal-info 
                *ngIf="currentStep == 1" 
                (ageChange)="onAgeChange($event)" 
                [stepName]="stepInView?.stepName"
                [formInitialValue]="savedRegData?.personalInfo"
            ></app-personal-info>
            <app-talent-info 
                *ngIf="stepInView?.stepName == 'Talent Details'" 
                [stepName]="stepInView?.stepName"
                [formInitialValue]="savedRegData?.talentInfo"
            ></app-talent-info>
            <app-group-info 
                *ngIf="stepInView?.stepName == 'Group Details'" 
                [stepName]="stepInView?.stepName"
                [formInitialValue]="savedRegData?.groupInfo"
            ></app-group-info>
            <app-media-info 
                *ngIf="stepInView?.stepName == 'Media Upload'" 
                [stepName]="stepInView?.stepName"
                [formInitialValue]="savedRegData?.mediaInfo"
            ></app-media-info>
            <app-guardian-info 
                *ngIf="stepInView?.stepName == 'Guardian Details'" 
                [stepName]="stepInView?.stepName"
                [formInitialValue]="savedRegData?.guardianInfo"
            ></app-guardian-info>
            <app-audition-info 
                *ngIf="stepInView?.stepName == 'Audition Details'" 
                [stepName]="stepInView?.stepName"
                [formInitialValue]="savedRegData?.auditionInfo"
            ></app-audition-info>
            <app-terms-conditions 
                *ngIf="stepInView?.stepName == 'Terms & Signatures'" 
                [applicantAge]="applicantAge$ | async" [stepName]="stepInView?.stepName"
                [formInitialValue]="savedRegData?.termsConditions"
            ></app-terms-conditions>
            <app-registration-payment *ngIf="stepInView?.stepName == 'Review & Payment'" [stepName]="stepInView?.stepName" [formSteps]="formSteps"></app-registration-payment>

            <div *ngIf="stepInView?.stepName == 'Success'" class="success mt-3">
                <img src="assets/img/project/success.gif" alt="edo-talent-hunt">
            </div>
        </div>

        <div 
            class="btn-hld d-flex text-center"
            [ngClass]="{
                'justify-content-center': stepInView?.buttons.length == 1,
                'justify-content-between': stepInView?.buttons.length == 2,
            }"
        >
            <button 
                *ngFor="let button of stepInView?.buttons; let i = index" 
                (click)="goToStep(button.action)" 
                type="submit" 
                class="cta my-3 px-5"
                [ngClass]="{
                    'w-100': stepInView?.buttons.length == 1,
                    'w-48': stepInView?.buttons.length == 2,
                    'cta-primary': button.action == 1,
                    'cta-wht': button.action == -1
                }"
                role="button"
            >
                <span *ngIf="button.action !== -1 && apiLoading" class="loader spinner-border text-white"></span> {{button.text}}
            </button>
        </div>
    </div>

    
</div>
